.env
venv/
.venv/
__pycache__/
bot.log
downloaded_image.png
ffmpeg/
test.py
tempCodeRunnerFile.py
backups/
messages.json
guild_settings.json
backups/
backups/message.json.lock
backups/guild_settings.json.lock